body {
  padding: 0;
  margin: 0;
}

#MainDiv {
  background: rgba(255, 0, 0, 1);
  width: 1280px;
  height: 520px;
}

#MapDiv {
  background: rgba(255, 255, 0, 1);
  width: 200px;
  height: 200px;
  float:left;
}

#InfoDiv {
  background: rgba(255, 0, 255, 1);
  width: 580px;
  height: 200px;
  float:left;
}

#ChoseDiv {
  background: rgba(0, 255, 255, 1);
  width: 500px;
  height: 200px;
  float:left;
}
